<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
	
	{{! Meta stuff }}
	<meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{! Styles }}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	
	<link href="/assets/css/up.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/tomorrow.min.css">
    <script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{ghost_head}}

</head>

<body class="{{body_class}}">

{{> header}}
	
  <div class="container">
    {{{body}}}
  </div>
	
  {{ghost_foot}}
	
{{> footer}}
	
</body>
</html>